<h1>All the Details...</h1>
<div class="container">
	<h3>{{task.task}}</h3>
  <ul class="list-group">

    <li class="list-group-item"><strong>What Did I Eat? </strong>{{task.meal}}  <span ng-if="task.mealLiked==true"><span class="glyphicon glyphicon-thumbs-up custom"></span></span><span ng-if="task.mealLiked==false"><span class="glyphicon glyphicon-thumbs-down custom"></span></span></li>

    <li class="list-group-item"><strong>What Did I Drink? </strong>{{task.beverage}}  <span ng-if="task.beverageLiked==true"><span class="glyphicon glyphicon-thumbs-up custom"></span></span><span ng-if="task.beverageLiked==false"><span class="glyphicon glyphicon-thumbs-down custom"></span></span>
    </li>

    <li class="list-group-item"><strong>Date: </strong>{{task.date}}</li>
    <li class="list-group-item"><strong>Location: </strong>{{task.location}}</li>
    <li class="list-group-item"><strong>What Time Was It? </strong>{{task.timeOfDay}}</li>
    <li class="list-group-item"><strong>Additional Info... </strong>{{task.info}}</li>
  </ul>
  <a ng-href="#!/tasks/{{task.id}}/edit"><button class="btn btn-success">Edit</button></a>

  <a ng-href="#!/task-list"><button class="btn btn-default btn-primary">BACK</button></a>
</div>