<h1>All the Details...</h1>
<div class="container">
	<h3>{{task.task}}</h3>
  <ul class="list-group">
    <li class="list-group-item"><strong>What Did I Eat? </strong>{{task.meal}}</li>
    <li class="list-group-item"><strong>What Did I Drink? </strong>{{task.beverage}}</li>
    <li class="list-group-item"><strong>Date: </strong>{{task.date}}</li>
    <li class="list-group-item"><strong>Location: </strong>{{task.location}}</li>
    <li class="list-group-item"><strong>What Time Was It? </strong>{{task.timeOfDay}}</li>
    <li class="list-group-item"><strong>Additional Info... </strong>{{task.info}}</li>
  </ul>
  <a ng-href="#!/tasks/{{task.id}}/edit"><button class="btn btn-success">Edit</button></a>
</div>